* {
    padding: 0;
    margin: 0;
}

@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin laptop {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

.ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  }
  .ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }

.formContainer {
    background-color: black;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    .formWrapper {
        background-color: #121212;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        .logo {
            color: white;
            font-size: 28px;
            font-weight: bold;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .title {
            color: whitesmoke;
            font-size: 14px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 16px;
            input {
                padding: 10px;
                border: none;
                width: 250px;
                border-bottom: 1px solid #757575;
                background-color: #121212;
                color: white;
            }
            button {
                background-color: #007AFF;
                color: white;
                padding: 10px;
                font-weight: bold;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                &:hover { 
                    background: #1DA1F2; 
                }
                &:disabled {
                    opacity: 0.6;
                    cursor: not-allowed;
                }
                
            }
            label {
                display: flex;
                align-items: center;
                gap: 10px;
                color: #757575;
                font-size: 14px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                cursor: pointer;
                &:hover { 
                    color: white; 
                }
                img {
                    width: 32px;
                }
            }
        }
        p {
            color: #757575;
            font-size: 14px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-top: 10px;
        }
    }
}

.home {
    background-color: black;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    .container {
        border-radius: 10px;
        width: 70%;
        height: 80%;
        display: flex;
        overflow: hidden;
    }
    .sidebar {
        flex: 1;
        background-color: #121212;
        .navbar {
            display: flex;
            align-items: center;
            height: 50px;
            padding: 10px;
            justify-content: space-between;
            color: whitesmoke;
            .logo {
                font-weight: bold;
            }
            .user {
                display: flex;
                gap: 10px;
            }
            img {
                height: 24px;
                width: 24px;
                border-radius: 50%;
                object-fit: cover;
            }
            button {
                background-color: #CF6679;
                color: whitesmoke;
                font-size: 10px;
                cursor: pointer;
                border: none;
                &:hover { 
                    background: red; 
                }
            }
        }
        .searchBar {
            border-bottom: 1px solid #757575;

            .searchForm {

                input {
                    background-color: transparent;
                    border: none;
                    outline: none;
                    color: white;
                }
            }
        }
        .userChatList {
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            color: white;
            cursor: pointer;
            &:hover {
                background-color: black;
            }
            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                object-fit: cover;
            }
            .userChatItem {
                span{
                    font-size: 18px;
                    font-weight: normal;
                }
                p {
                    font-size: 14px;
                    color: lightgray;
                }
            }
        }
    }
    .chatwindow {
        flex: 3;
        color: white;
        .chatInfo {
            height: 50px;
            background-color: #0f0f0f;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            color: lightgray;
        }
        .messages {
            background-color: black;
            padding: 10px;
            height: calc(100% - 160px);
            overflow: scroll;
            .message {
                display: flex;
                gap: 20px;
                margin-bottom: 20px;
                .messageInfo {
                    display: flex;
                    flex-direction: column;
                    color: gray;
                    font-weight: 300;
    
                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
                .messageContent {
                    max-width: 80%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    p {
                        background-color: #171717;
                        padding: 10px 20px;
                        border-radius: 0px 10px 10px 10px;
                        max-width: max-content;
                    }
                    img {
                        width: 50%;
                    }
                }
                &.owner {
                    flex-direction: row-reverse;
                    .messageContent {
                        align-items: flex-end;
                        p {
                            background-color: #007AFF;
                            color: white;
                            border-radius: 10px 0px 10px 10px;
                        }
                    }
                }
            }
        }
        .input {
            height: 50px;
            background-color: #0f0f0f;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            input {
                width: 100%;
                border: none;
                outline: none;
                color: white;
                font-size: 18px;
                background-color: #0f0f0f;
                &::placeholder {
                    color: #757575;
                }
            }
            .send {
                display: flex;
                align-items: center;
                gap: 10px;
                img {
                    height: 24px;
                    cursor: pointer;
                }
                button {
                    border: none;
                    padding: 10px 15px;
                    color: white;
                    background-color: #007AFF;
                    cursor: pointer;
                }
            }
        }
    }
}